:root {
  --font-space-grotesk: 'Space Grotesk', sans-serif;
  --font-inter: 'Inter', sans-serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-inter);
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}


.dark {
  @mixin dark {
    display: none;
  }

  @mixin light {
    display: block;
  }
}

.light {
  @mixin light {
    display: none;
  }

  @mixin dark {
    display: block;
  }
}
/* For dark mode */
:root[data-mantine-color-scheme="dark"] {
  --mantine-color-body: #000 !important;
  --mantine-color-dark-0: #fff !important;
}
